.passwordValidatorWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .validatorIcon {
    height: 15px;
  }
  .passwordValidator {
    display: flex;
    gap: 3px;
    line-height: 20px;
  }
}

//Color Validate text
.passwordValidatorTextError {
  color: #fe646f;
}

.passwordValidatorTextPass {
  color: #66bb69;
}
